* text=auto eol=lf
*.sh   text eol=lf
*.py   text eol=lf
*.md   text eol=lf
*.csv  text eol=lf
*.json text eol=lf
# Preserve verbatim upstream license files, including their trailing spaces.
assets/fonts/RobotoMono_LICENSE.txt whitespace=-blank-at-eol
